<h1>Look at all these articles!</h1>

<dl>
	<% @articles.each do |article| %>
		<dt> <%= article.title %> </dt>
			<dd> Author: <a href="/users/<%=User.find(article.user_id).id%>"><%= User.find(article.user_id).name %></a> </dd>
			<dd> Body: <%= article.body %> </dd>
	<%end%>
</dl>
