<h1><%= @article.title %></h1>
<%= @article.body %>

<p><%= link_to 'Edit Article', edit_user_article_path %></p>
<p><%= link_to 'Leave a comment', new_user_article_comment_path(@user.id, @article.id) %></p>


<br><a href="/">Back to Articles</a>
